<% @page_title = "Contact Us" %>
<% @page_description = "New Subject" %>

<div class="custom-hd">
	<div class="overlay">
	<h1>Contact Us</h1>
	</div>
</div>
<div class="clearfix"></div>

<section class="main-contact">
	<div class="contact-box">
		<div class="block1">
			<h2>Port Manatee Ship Repair &amp; Fabrication</h2>
			<p class="sub">Located in Tampa Bay’s first port of call, Port Manatee.</p>
			<p>Contact us for a quote, or to discuss your specific vessel repair and fabrication needs.</p>
		</div>

		<div class="block2">
			<h4><%= number_to_phone(9414172613, delimiter: '-') %></h4>
	  	<h4 class="email">info@manateeshiprepair.com</h4>
	  </div>

		<div class="block3">
		  <h4 class="address">13604 Reeder Road<br>
				Palmetto, FL 34221</h4>
				<div class="clearfix map-br"></div>
				<%= link_to('View Map', 'https://www.google.com/maps/place/13604+Reeder+Rd,+Palmetto,+FL+34221/@27.6373153,-82.5481234,15z/data=!4m2!3m1!1s0x88c321f1253d981d:0x94e36849ead2e9a4', target: '_blank', class: 'map') %>
		</div>
	</div>

	<div class="contact-body">
		<div class="container">
			<div class="block-a">
				<div class="card">
					<h4 class="name">Frank Kerney</h4>
					<h5><%= number_to_phone(9082850912, delimiter: '-') %></h5>
					<h5>frank@manateeshiprepair.com</h5>
				</div>
				<%=image_tag('anchor.png', class: 'icon', alt: 'Manatee Ship Repair, contact info page, icon') %>

				<div class="card bottom">
					<h4 class="name">Jim Braukman</h4>
					<h5><%= number_to_phone(7272125234, delimiter: '-') %></h5>
					<h5>jim@manateeshiprepair.com</h5>
				</div>
			</div>

			<div class="address-blocks">
				<div class="block c">
					<h4><span>Shipping address:</span></h4>
						<h4 class="address">210 National Street<br>
						Palmetto, FL 34221</h4>
						<div class="clearfix map-br"></div>
						<%= link_to('View Map', 'https://www.google.com/maps/place/210+National+St,+Palmetto,+FL+34221/@27.636639,-82.562465,17z/data=!3m1!4b1!4m2!3m1!1s0x88c31f55f1c85bf3:0x3bd919b1c72ddc3', target: '_blank', class: 'map') %>
				</div>

				<div class="block d">
					<h4><span>Port Manatee Ship Repair and Fabrication, LLC:</span></h4>
						<h4 class="address">PO Box 2547<br>
						Oldsmar, FL 34677<br>
					</h4>
				</div>

				<%= link_to "View Our Services", services_path, class: 'block link' %>
				<%= link_to "View Our Project Gallery", gallery_path, class: 'block link' %>
			</div>
		</div>
	</div>
</section>
