<% @page_title = "Manatee Ship Repair & Fabrication" %>
<% @page_description = "New Subject" %>

  <!--  render 'static_pages/segmenter' %>  -->
  	<script>document.documentElement.className = 'js';</script>
		<section class="demo-1">
			<main>
				<div class="segmenter"></div>
				<div class="trigger-headline trigger-headline--hidden">
					<h1>Port Manatee</h1>
					<h2>Ship Repair &amp; Fabrication</h2>
				</div>
			</main>
			<script>
			(function() {
				var headline = document.querySelector('.trigger-headline'),
					trigger = document.querySelector('.segmenter'),
					segmenter = new Segmenter(document.querySelector('.segmenter'), {
						onReady: function() {
								segmenter.animate();
								headline.classList.remove('trigger-headline--hidden');
						}
					});
			})();
			</script>
		</section>

		<div class="home-s1">
			<div class="overlay">
				<div class="container no-padding">
					<div class="left-block">
						<div class="top">
							<h4>Located in Tampa Bay’s first port of call, Port Manatee.</h4>
							<p>Manatee Ship Repair and Fabrication has a reputation for prompt, cost effective service, and attention to detail. Our team guarantees professional, quality work on every project. Our company leaders have over 80 years of combined experience in vessel repair and fabrication.</p>
							<hr>
						</div>

						<h4>Bondstrand Pipe Repair and Fabrication Specialists</h4>
						<ul>
							<li><i class="rt-icon2-gears"></i> Topside Ship Repairs of all Nature </li>
							<li><i class="rt-icon2-gears"></i> Structural Fabrication </li>
							<li><i class="rt-icon2-gears"></i> Bondstrand Repair and Fabrication </li>
							<li><i class="rt-icon2-gears"></i> Ballast Water Treatment Systems</li>
						</ul>
						<%= link_to 'View All Services', services_path, class: 'service-link left' %>
						<%= link_to 'Bondstrand Pipe Repair', bondstrand_pipe_path, class: 'service-link' %>
					</div>

					<div class="right-block">
						<div class="r1">
							<%= image_tag('pmsr2.jpg', alt: 'Manatee Ship Repair and Fabrication, property image', class: 'img-square one') %>
							<%= image_tag('pmsr.jpg', alt: 'Manatee Ship Repair and Fabrication, property image', class: 'img-square two') %>
						</div>

						<div class="r2">
							<%= image_tag('welding2.jpg', alt: 'Manatee Ship Repair and Fabrication, property image', class: 'img-square three') %>
							<%= image_tag('pmsr3.jpg', alt: 'Manatee Ship Repair and Fabrication, property image', class: 'img-square four') %>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="bg-overlay">
			<div class="inner">
				<h3><span>We are conveniently located</span><br> at the mouth of the Tampa Bay</h3>
				<div class="title-line"></div>
				<p>Vessel repairs are typically urgent situations that require immediate attention.<br>
				If your vessel is in need of emergency service, accessibility is a huge asset in a repair team.</p>
				<p class="last">Manatee Ship Repair &amp; Fabrication's strategic location allows us to offer timely service to all vessels trading in the Gulf of Mexico and Western Caribbean Sea.</p>
			</div>
			<span></span>
		</div>

		<!-- <div class="bg-overlay">
			<div class="left">
				<div class="inner">
					<h3><span>We are conveniently located</span><br> at the mouth of the Tampa Bay</h3>
					<div class="title-line"></div>
					<p>Vessel repairs are typically urgent situations that require immediate attention.<br>
					If your vessel is in need of emergency service, accessibility is a huge asset in a repair team.</p>
					<p class="last">Manatee Ship Repair &amp; Fabrication's strategic location allows us to offer timely service to all vessels trading in the Gulf of Mexico and Western Caribbean Sea.</p>
				</div>
			</div>

			<div class="right">
				<div class="inner">
					<h3>Contact us today for an estimate on your vessel repair or fabrication project.</h3>
				</div>
			</div>
		</div>
 -->




<!-- Valves, Pumps, Winches, Hatch Covers, Structural Repairs, Air Conditioning, Electrical, Hydraulic Systems, Pneumatic Systems, Joinery -->
<!-- We would be honored to bid your repair job and earn your business. Contact us today by phone or email for prompt service and availability. -->
<!--  -->
