<% @page_title = "Contact Us" %>
<% @page_description = "New Subject" %>

<div class="custom-hd">
	<div class="overlay">
	<h1>Contact Us</h1>
	</div>
</div>
<div class="clearfix"></div>

<section class="main-contact">
	<div class="contact-box">
		<div class="block1">
			<h2>Port Manatee Ship Repair &amp; Fabrication</h2>
			<p class="sub">Located in Tampa Bay’s first port of call, Port Manatee.</p>
			<p>Contact us for a quote, or to discuss your specific vessel repair and fabrication needs.</p>
		</div>

		<div class="block2">
			<h4><%= number_to_phone(9414172613, delimiter: '-') %></h4>
	  	<h4 class="email">info@manateeshiprepair.com</h4>
	  </div>

		<div class="block3">
		  <h4 class="address">13604 Reeder Road<br>
				Palmetto, FL 34221</h4>
				<div class="clearfix map-br"></div>
				<%= link_to('View Map', 'https://www.google.com/maps/place/13604+Reeder+Rd,+Palmetto,+FL+34221/@27.6373153,-82.5481234,15z/data=!4m2!3m1!1s0x88c321f1253d981d:0x94e36849ead2e9a4', target: '_blank', class: 'map') %>
		</div>
	</div>

	<div class="contact-body">
		<div class="container">
			<div class="block-a">
				<div class="card">
					<h4 class="name">Frank Kerney</h4>
					<h5><%= number_to_phone(9082850912, delimiter: '-') %></h5>
					<h5>frank@manateeshiprepair.com</h5>
				</div>
				<%=image_tag('anchor.png', class: 'icon', alt: 'Manatee Ship Repair, contact info page, icon') %>

				<div class="card bottom">
					<h4 class="name">Jim Braukman</h4>
					<h5><%= number_to_phone(7272125234, delimiter: '-') %></h5>
					<h5>jim@manateeshiprepair.com</h5>
				</div>
			</div>

			<div class="address-blocks">
				<div class="block c">
					<h4><span>Shipping address:</span></h4>
						<h4 class="address">210 National Street<br>
						Palmetto, FL 34221</h4>
						<div class="clearfix map-br"></div>
						<%= link_to('View Map', 'https://www.google.com/maps/place/210+National+St,+Palmetto,+FL+34221/@27.636639,-82.562465,17z/data=!3m1!4b1!4m2!3m1!1s0x88c31f55f1c85bf3:0x3bd919b1c72ddc3', target: '_blank', class: 'map') %>
				</div>

				<div class="block d">
					<h4><span>Port Manatee Ship Repair and Fabrication, LLC:</span></h4>
						<h4 class="address">PO Box 2547<br>
						Oldsmar, FL 34677<br>
					</h4>
				</div>

				<%= link_to "View Our Services", services_path, class: 'block link' %>
				<%= link_to "View Our Project Gallery", gallery_path, class: 'block link' %>
			</div>
		</div>
	</div>
</section>




.contact {
	.custom-hd{background-image: url(image_path('harbor.jpg'));background-position: bottom center;  background-attachment: scroll; padding:0; text-align: left;
		.overlay {@include sec-default(); background-color: rgba($dk-teal, .5);height: 180px; padding: 30px 50px 0;}
	}

	h1 {font-weight: bold; color: $white; font-family: $kanit; @include tshadow($dk-teal); }
	h2 {font-weight: bold; color: $dk-teal; font-family: $kanit; border: 3px solid $teal; margin-bottom:5px;}
	p.sub {font-weight: bold; position: relative; font-size: 17px; line-height: 1em; color: $dk-teal;
		&::before, &::after {content: ''; position: absolute; width:80px; height:10px; background-color: $teal; top:3px;}
		&::before {left: 0;}
		&::after {right: 0;}
	}


	.main-contact {@include sec-default(); background-color: $offwhite;}
	.contact-box { width: 65%; @include center-block(); padding: 20px 40px; background-color: $offwhite; text-align: center; margin-bottom: 50px;
		.block2, .block3 {display: inline-block; width: 35%; float: none; vertical-align: top; border: 1px solid #dfdfdf; margin-top: 25px; padding-top: 10px; height: 140px;}
		.block2{margin-right: 15px; h4{margin-top:20px;}}
		.block1 {@include center-block(); width:80%; }
	}

	.contact-body {text-align: center;}
	.map {background-color: $teal; color: $white; text-align: center; padding: 10px 20px; border-radius: 20px; }
	.map-br{margin-bottom: 10px;}


	.block-a {width: 30%; display: inline-block; float: left; text-align: center; padding: 20px 15px;
		@include sec-bgimage(); background-image: url(image_path('port-crane.jpg')); background-position:center center; position: relative;z-index: 0; margin-bottom:30px;
		&::before {@include before (); background-color: rgba($dark, .9);}
		// .card {@include sec-default(); padding-bottom: 0px; }
		h5 {text-transform: uppercase; color: $white; font-size: 16px; margin-bottom: 5px;}
		h4 {text-transform: uppercase; color: $teal; font-weight: bold;}
	}

	.block{width: 30%; height: 175px; background-color: $white; padding: 20px 25px; display: inline-block; margin-left: 25px; float: left;
		span {color: $teal; font-weight: bold; margin-bottom: 25px;}
		h4.address{padding-left: 20px;}
		a {font-weight: bold; }

		&.link{background-color: $teal; font-size: 20px; color: $white; text-align: center; padding: 20px 0; height: auto; margin-top:30px;}
	}
	.icon {width:40px; height: auto; @include center-block();}
}
