<% @page_title = "Project Gallery" %>
<% @page_description = "New Subject" %>

	<section class="demo-1">
		<main>
			<div class="segmenter"></div>
			<div class="trigger-headline trigger-headline--hidden">
				<h2>MANATEE PROJECT GALLERY</h2>
			</div>
		</main>
	</section>

	<!-- <%= link_to(image_tag('gallery/manatee-project.jpg', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - Image 4', class: 'img-responsive gall'), image_path('gallery/manatee-project.jpg'), data: { lightbox: "example-set", title: 'Image ' }) %>  -->

<section class="project-gallery">
	<div>
		<%= link_to(image_tag('gallery/manatee-project1.jpg', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - Image 1', class: 'img-responsive gall'), image_path('gallery/manatee-project1.jpg'), data: { lightbox: "example-set", title: 'Image 1' }) %>

    <%= link_to(image_tag('gallery/manatee-project2.jpg', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - Image 2', class: 'img-responsive gall'), image_path('gallery/manatee-project2.jpg'), data: { lightbox: "example-set", title: 'Image 2' }) %>

    <%= link_to(image_tag('gallery/manatee-project3.jpg', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - Image 3', class: 'img-responsive gall'), image_path('gallery/manatee-project3.jpg'), data: { lightbox: "example-set", title: 'Image 3' }) %>

    <%= link_to(image_tag('gallery/manatee-project4.jpg', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - Image 4', class: 'img-responsive gall'), image_path('gallery/manatee-project4.jpg'), data: { lightbox: "example-set", title: 'Image 4' }) %>

    <%= link_to(image_tag('gallery/manatee-project5.jpg', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - Image 4', class: 'img-responsive gall'), image_path('gallery/manatee-project5.jpg'), data: { lightbox: "example-set", title: 'Image 5' }) %>
	</div>
</section>
