<div class="gallery">



<section class="main-content">
	<div class="container">

			<% target = "world" %>
			<%= "Hello #{target}" %>


			<div class="clearfix"></div><br><br>

			<%= @photo %><br>

			<div class="clearfix"></div><br><br>





				<% $id = 0 %>
    		<% $max = 3 %>
				<% while $id < $max  do %>
					<% src = $id +=1 %>
					<% path = "https://s3.amazonaws.com/manatee-ship/gallery/manatee-gallery"+"#{src}"+".jpg" %>
					<%= image_tag("#{path}", class: 'img-responsive gall') %>

						<div class="clearfix"></div><br><br>
				<% end %>

				<div class="clearfix"></div><br><br>
				<%= image_tag('https://s3.amazonaws.com/manatee-ship/gallery/manatee-gallery#{src}.jpg', class: 'img-responsive')%>

				<div class="clearfix"></div><br><br>

				<a href="/photos/hello">Hello page 1</a><br />
				<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20}) %><br />
			  <%= link_to(image_tag('gallery/#@image_src', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - #@image_title', class: 'img-responsive'), image_path('#@image_path'), data: { lightbox: "example-set", title: '#@image_title' }) %>
		</div>
	</section>
</div>


<section class="main-content">
	<div class="container">
		<h3>A Four Image Set</h3>
		<div>
     <%= link_to(image_tag('http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg'), image_path('http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg'), data: { lightbox: "example-set", title: 'first photo' }) %>

			    <%= link_to(image_tag('gallery/#@image_src', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - #@image_title', class: 'img-responsive'), image_path('#@image_path'), data: { lightbox: "example-set", title: '#@image_title' }) %>



			<!-- <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
				<img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" />
			</a>

			<a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing.">
				<img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" />
			</a>

			<a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close.">
				<img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" />
			</a> -->
		</div>
	</div>
</section>





 <!--  # Create an empty array.
    lines = []
    # Use foreach iterator to loop over lines in the file.
    # ... Add chomped lines.
    IO.foreach("list.txt") do |line|
      lines.push(line.chomp())
    end


    lines.each do |v|

    end -->

<!-- <div>
 @photos.each do |photo|
     link_to(image_tag(attachment_url(photo, :image, :fit, 100, 100, format: 'jpg')), attachment_url(photo, :image, :fit, 500, 500, format: 'jpg'), data: { lightbox: "example-set", title: photo.name })
     < equal link_to(image_tag('gallery/#@image_src', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - #@image_alt', class: 'img-responsive'), image_path('#@image_path'), data: { lightbox: "example-set", title: '#@image_title' }) >
   end
</div> -->

<!--
  class Photo
    def initialize(id, image, name, link )
      @image_src=src
      @image_id=id
      @image_path=path
      @image_title=title
    end

    def show_photo()
      puts "< equal link_to(image_tag('gallery/#@image_src', alt: 'MANATEE SHIP REPAIR AND FABRICATION PROJECT GALLERY - #@image_alt', class: 'img-responsive'), image_path('#@image_path'), data: { lightbox: "example-set", title: '#@image_title' }) >"
    end
  end
  # Create Objects
  photo1=Photo.new("gallery1.jpg", "1", "gallery1.jpg", "Image 1")

  # Call Methods
  photo1.show_photo()
 -->
 <!-- resources :sponsors, :only => [:show] -->



<!--  # Create an empty array.
lines = []
# Use foreach iterator to loop over lines in the file.
# ... Add chomped lines.
IO.foreach("list.txt") do |line|
    lines.push(line.chomp())
end


lines.each do |v|

end -->

