<li class="menu-item"><%= link_to "Home", root_path %></li>
<li class="menu-item"><%= link_to "All Services", services_path %></li>
<li class="menu-item"><%= link_to "Bondstrand Pipe Repair", bondstrand_pipe_path %></li>
<li class="menu-item"><%= link_to "Project Gallery", photos_path %></li>
<li class="menu-item"><%= link_to "Contact", contact_path %></li>
