 	<meta name="description" content= "<%= @page_description %>">
 	<link rel="shortcut icon" href="favicon.png">
  <title><%= @page_title  %> | Manatee Ship Repair &amp; Fabrication Logo</title>

	<%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
